@import "tailwindcss";
*{
    font-family: "Nunito", sans-serif;
}
@theme {
    --breakpoint-xsm:240px;
    --breakpoint-sm:640px;
    --breakpoint-lg:1024px;
    --breakpoint-xl:1280px;
    --breakpoint-2xl:1536;
}
@keyframes fadeIn{
    from {opacity: 0; transform: scale(0.95);}
    to {opacity: 1; transform: scale(1);}
}

.animate-fadeIn{
    animation: fadeIN 0.2s ease-out;
}
tr:hover{
    background-color: #f9fafb;
    cursor: pointer;
}